extends layout 
block content 
    br
    h5 ICC T20 World Cup Final's Teams
    br
    div(class="row row-cols-1 row-cols-md-2 g-4")
        div(class="col")
            div(class="card mb-3")
                div(class="card-body")
                    h4(class="card-title") Pakistan
                    p(class="card-text") 
                        ul(class="list-group list-group-flush")
                            li(class="list-group-item")
                                a(href="player-search?name=Babar+Azam") Babar Azam
                            li(class="list-group-item")
                                a(href="player-search?name=Mohammad+Rizwan") Mohammad Rizwan
                            li(class="list-group-item")
                                a(href="player-search?name=Shan+Masood") Shan Masood
                            li(class="list-group-item")
                                a(href="player-search?name=Mohammad+Haris") Mohammad Haris
                            li(class="list-group-item")
                                a(href="player-search?name=Iftikhar+Ahmed") Iftikhar Ahmed
                            li(class="list-group-item")
                                a(href="player-search?name=Shadab+Khan") Shadab Khan
                            li(class="list-group-item")
                                a(href="player-search?name=Mohammad+Nawaz") Mohammad Nawaz
                            li(class="list-group-item")
                                a(href="player-search?name=Haris+Rauf") Haris Rauf
                            li(class="list-group-item")
                                a(href="player-search?name=Mohammad+Wasim") Mohammad Wasim
                            li(class="list-group-item")
                                a(href="player-search?name=Naseem+Shah") Naseem Shah
                            li(class="list-group-item")
                                a(href="player-search?name=Shaheen+Afridi") Shaheen Afridi
        div(class="col")
            div(class="card mb-3")
                div(class="card-body")
                    h4(class="card-title") England
                    p(class="card-text") 
                        ul(class="list-group list-group-flush")
                            li(class="list-group-item")
                                a(href="player-search?name=Alex+Hales") Alex Hales
                            li(class="list-group-item")
                                a(href="player-search?name=Jos+Buttler") Jos Buttler
                            li(class="list-group-item")
                                a(href="player-search?name=Phil+Salt") Phil Salt
                            li(class="list-group-item")
                                a(href="player-search?name=Ben+Stokes") Ben Stokes
                            li(class="list-group-item")
                                a(href="player-search?name=Harry+Brook") Harry Brook
                            li(class="list-group-item")
                                a(href="player-search?name=Liam+Livingstone") Liam Livingstone
                            li(class="list-group-item")
                                a(href="player-search?name=Moeen+Ali") Moeen Ali
                            li(class="list-group-item")
                                a(href="player-search?name=Sam+Curran") Sam Curran
                            li(class="list-group-item")
                                a(href="player-search?name=Chris+Woakes") Chris Woakes
                            li(class="list-group-item")
                                a(href="player-search?name=Adil+Rashid") Adil Rashid
                            li(class="list-group-item")
                                a(href="player-search?name=Mark+Wood") Mark Wood